<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css">
        

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use the weather app</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>    
            <p id="massage-1"></p>
            <p id="massage-2"></p>
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>